# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode
*.code-workspace

# misc
.env
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmrc
/packages/**/.npmignore
/packages/**/LICENSE

# bundle
dist/**/*
build/